*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/imgs/background.jpg);
    background-size: cover;
    /* background-color: #f8e0ed; */
    height: 100vh;
}
.content{
    background-color: rgba(0, 0, 0, 0.156);
}
a,
nav,
section,
button{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
header,
.container,
section{
    padding: 2% 16%;
    background-color: var();
}
section:last-child{
    padding:2% 16% 0%;
    position: relative;
    overflow: hidden;
}
.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* ــــــــــــــــــــــــــــــــــــــ[Header]ــــــــــــــــــــــــــــــــــــــ */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div:first-child{
    display: flex;
    align-items: center;
    gap: 20px;
}
.searchBox{
    cursor: pointer;
}
nav > div >img{
    width: 50px;
    margin-right: 20px;
}
nav > div > div{
    display: flex;
    align-items: center;
    gap: 4px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 20px;
}
nav ul li a{
    color: #fae1ee;
    font-weight: 400;
}
nav ul li a:hover{
    color: white;
}
nav button{
    width: 80px;
    padding: 10px 10px;
    background-color: #a35e84;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all, 0.3s
}
.searchBox{
    transition: all,0.3s;
}
.sb{
    transition: all,0.3s;
    width: 0;
    height: 0;
    border: none;
}
.searchBoxx{
    width: 200px;
    height: 25px;
    outline: none;
    padding: 0px 10px;
    font-family: 'Poppins', sans-serif;
    color: #a35e84 ;
    background-color: #f8e0ed;
    border-radius: 12px;
    transition: all,0.3s;
    font-weight: 600;
}
nav div button:last-child{
    color:#a35e84 ;
    margin-left: 5px;
    background-color: #fae1ee;
}
/* ــــــــــــــــــــــــــــــــــــــ[Conetnt]ــــــــــــــــــــــــــــــــــــــ */
h1{
    color: #fff3f9;
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
}
/* ــــــــــــــــــــــــــــــــــــــ[Footer]ــــــــــــــــــــــــــــــــــــــ */
.semifooter{
    background-color: #a35e84;
    height: 250px;
    border-radius: 50px 50px 0px 0px;
    position: relative;
    padding: 15px 30px;
    top: 250px;
    transition: all,0.5s;
}
.semifooter button{
    width: 70px;
    height: 70px;
    background-color: #ffdaed;
    color: #a35e84;
    font-size: 22px;
    padding: 5px;
    border: none;
    border-radius: 30%;
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all,0.3s;
}
.semifooter button:hover{
    background-color: #a35e84;
    color: #ffdaed;
    border: 4px solid #ffdaed;
    border-radius: 50%;
}
h2{
    font-size: 34px;
}
.semifooter h2{
    color: #fae1ee;
}
.semifooter p {
    font-size: 18px;
    color: #f1d3e3;
}