@media (max-width:420px) {
    body{
        background-image: url(/imgs/backgroundm.jpg);
    }
    header,
    .container,
    section{
        padding: 6% 4%;
    }
    section:last-child {
        padding: 2% 0% 0%;
    }
    /* .menu{
        display: block;
    } */
    .menuBtn{
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: center;
        align-items: center;
    }
    .searchBox,
    .b1{
        display: none;
    }
    h1{
        font-size: 46px;
    }
    nav div button:last-child {
        margin-left: 0;
    }
    .semifooter {
        height: 360px;
        padding: 30px;
        top: 360px;
    }
    .semifooter h2{
        font-size: 32px;
    }
    .semifooter button{
        top: 65%;
    }
}